<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebBrowser.Data.Properties.Settings.WebBrowserDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\jared\OneDrive\Documents\School\Source\CPSC 2710\WebBrowser\WebBrowser.Data\bin\Debug\WebBrowserDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WebBrowser.Data.Properties.Settings.OldConnection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\WebBrowserDB.mdf;Integrated Security=True"
            providerName="" />
    </connectionStrings>
</configuration>